.loading {
  margin-top: 15%;
  position: fixed;
  z-index: 1;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, auto);
  grid-gap: 0.8% 1%;
  justify-content: center;
}
.gridItem {
  /* background-color: rgb(255, 255, 255); */
  /* border: 2px solid rgba(0, 0, 0); */
  text-align: center;
}

/* .circle {
  width: 100px;
  height: 100px;
  padding: 1rem;
  position: relative;
  background: none;
  padding: 3px;
} */
.circleAnimated {
  border-radius: 100%;
  width: 104px;
  height: 104px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(110deg, rgb(0, 66, 106) 33%, rgba(0, 0, 0, 0) 33%),
    linear-gradient(110deg, #9adbe8 34%, #2dccd3 34%);
  background-size: 400% 400%;
  padding: 2px;
  -webkit-animation: Gradient 12s ease infinite, rotating 3s linear infinite;
  /* -moz-animation: Gradient 20s ease infinite, rotating 2s linear infinite;
  animation: Gradient 20s ease infinite, rotating 2s linear infinite; */
  /* -ms-animation: 
  -o-animation:  */
}

.innerCircle {
  background: rgba(0, 134, 214, 0.3);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding: 2rem;
}
.animeTitle {
  background: rgb(43, 41, 41);
  font-size: 0.65rem;
  font-weight: bolder;
  padding: 10px 5px;
  margin-bottom: 0px;
  text-shadow: 2px 2px 3px #000;
  border-top: 2px solid black;
}
.animeInformation {
  background: rgb(153, 214, 234);
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  font-size: 0.7rem;
  padding: 10px 0px 2px 0px;
  color: #000;
  transition: all 700ms;
}
.triangleDown {
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 12px solid rgba(0, 0, 0, 0.9);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  transition-duration: 0.5s;
  transition: border-left border-right border-top;
  cursor: pointer;
}
.triangleDownVanishing {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.9);
  transition-duration: 0.5s;
  transition: border-left border-right border-top;
  cursor: pointer;
}
.animeBody {
  border: 2px solid black;
  width: auto;
  /*parameters(x,-y,fade,extension)*/
  box-shadow: 0px 0px 10px 2px #000;
}

/* .miniCircle {
  position: absolute;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #000;
  width: 8px;
  height: 8px;
  transition: width 1s ease-out 0s;
} */
.divider {
  height: 1px;
  background: #000;
  margin: 10px 0px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 10% 10%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 100% 100%;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  /* For desktop: */
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  .animeTitle {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  /* For tablets: */
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 320px) {
  /* For Phones: */
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .animeTitle {
    font-size: 0.8rem;
  }
}
