html {
  font-size: 1.5rem;
}
body {
  height: 100vh;
  background: #222 !important;
  color: #fff;
  font-family: "Sniglet", cursive !important;
}

@media only screen and (max-width: 768px) {
  /* For desktop: */
  html {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  /* For tablets: */
  html {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 320px) {
  /* For Phones: */
  html {
    font-size: 0.6rem;
  }
}
